
<%= form_for @article, :url => article_path, :html => { :multipart => true } do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ul>
        <% @article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.label :title   %><br>
    <%= f.text_field :title , class: "label_text" %>
  </div>

  <div class="actions">
    <%= f.label :category %><br>
    <%= f.radio_button :category, '3d' %>
    <%= f.label :category, '3D', :value => '3d' %>
    <%= f.radio_button :category, 'design' %>
    <%= f.label :category, 'Design', :value => 'design' %>
    <%= f.radio_button :category, 'audio' %>
    <%= f.label :category, 'Audio', :value => 'audio' %>
    <%= f.radio_button :category, 'elettronica' %>
    <%= f.label :category, 'Elettronica', :value => 'elettronica' %>
    <%= f.radio_button :category, 'z_test' %>
    <%= f.label :category, 'Z-test', :value => 'z_test' %>
  </div>

  <div class="actions">
    <%= f.label :tag %><br>
    <%= f.text_field :tag , class: "label_text" %>
    <%= f.submit %>
  </div>
<% end %>
