<%= form_for @page , :url =>pages_path, :html => { :multipart => true } do |f| %>

  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :article_id, :value => params[:article_id]%>

  <div class="actions">
    <%= f.label :title   %><br>
    <%= f.text_field :title , class: "label_text" %>
  </div>

  <div class="actions">
      <%= f.label :content %><br>
      <%= f.text_area :content , class: "label_text" %>
  </div>

  <label>Video</label>

  <div class="actions" id="field">
        <%= f.text_area :url_youtube, class: "label_text_yt" , value:"" , name:"page[url_youtube][0]"  %>
  </div>

  <button type="button" id="button">Aggiungi un altro video</button> <br>

  <label>Foto</label>
  <div class="actions">
   <%= file_field_tag "photos[]", type: :file, multiple: true %>
  </div>


  <div class="actions">
    <a confirm="are u sure?" rel="nofollow" data-method="Delete Article" href="/articles/<%= params[:article_id] %>">Delete</a>
  </br>
    <%= f.submit value: "Close Article"%>
  </br>
    <%= f.submit value: "Create other page"%>
  </div>
<% end %>
