

<h1>Editing Page</h1>

<%= form_for @page , :url =>article_page_path, :html => { :multipart => true } do |f| %>

  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :article_id, :value => params[:article_id]%>

  <div class="actions">
    <%= f.label :title   %><br>
    <%= f.text_field :title , class: "label_text" %>
  </div>

  <div class="actions">
      <%= f.label :content %><br>
      <%= f.text_area :content , class: "label_text" %>
  </div>

  <hr>
  <label>Video</label>

  <div class="actions" id="field">
    <%@page.url_youtube.each do |url|%>
    <%index = @page.url_youtube.index(url)%>
    <%= f.text_area :url_youtube, class: "label_text_yt" , value: url , name:"exixt_page[url_youtube][#{index}]"  %><br>
    <%end %>
  </div>

  <button type="button" id="button">Aggiungi un altro video</button> <br>


  <div class="actions">


  <hr>
  <label>Foto</label><br>
  <label class="under_category">Selezione le foto che vuoi cancellare</label>
    <%@page.images.each do |image|%>

      <p id="title_checkbox"> <%=image.legend%> </p>
      <img class="default" src=<%= image.upload_photo.url(:thumbnail)%>>
      <%= check_box_tag image.id, 'to_be_deleted'  %>
      <br>
    <%end%>
  </div>


  <label class="under_category">Carica le nuove foto</label>
  <div class="actions">
   <%= file_field_tag "photos[]", type: :file, multiple: true %>
  </div>


  <div class="actions">
      <%= f.submit value: "Upgrate Page"%>
  </div>
<% end %>
